@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Marck+Script&family=Montserrat:ital@1&display=swap');

$primary-font: 'Dosis', sans-serif;
$heading: 'Marck Script', cursive;
$title-font: 'Montserrat', sans-serif;

$primary-font-color: #575757;
$secondary-font-color: #DB8D33;